<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/base.ejs %>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% include ../partials/navbar.ejs %>
    <div class="container">
      <br><br>

      <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
          <div class="card">
            <div class="card-header bg-dark text-white">
              測驗準備
            </div>
            <form action="/admin/init_exp" method="post">
              <div class="form-group w-75 mx-auto">
                <br><br>
                <label for="questions">選擇題庫</label>
                <select class="form-control" id="questions" name="questions" required>
                  <% for(i in questions) {%>
                    <option value="<%= questions[i]._id %>"> <%= questions[i].title %></option>
                  <% } %>
                </select>
                </br>
                <label for="name">測驗名稱</label>
                <input type="text" class="form-control" id="name" name="name" aria-describedby="name" placeholder="請輸入測驗名稱" required>
                </br>
                <button type="submit" class="btn btn-primary btn-block">設定新實驗</button>
            </form>
          </div>
        </div>
        <div class="col-lg-2"></div>
      </div>
    </div>
    <% include ../partials/bootstrap-scripts.ejs %>
  </body>
</html>
