<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/base.ejs %>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% include ./partials/navbar.ejs %>
    <div class="container">
      <br><br>

      <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
          <div class="card">
            <% if (alert != '') {%>
              <br>
              <div class="alert alert-warning w-75 mx-auto" role="alert" style="margin:2rem 5%;width:90%">
                  <%= alert %>
              </div>
              <form action="#" method="post"><br>
            <%} else if (msg != '') {%>
              <br>
              <div class="alert alert-success w-75 mx-auto" role="alert" style="margin:2rem 5%;width:90%">
                  <%= msg %>
              </div>
              <form action="#" method="post"><br>
            <%} else {%>
              <form action="#" method="post">
              <br><br>
            <%}%>

              <button onclick="location.href='/exps/landing'" type="button" class="w-75 mx-auto btn btn-success btn-block">作答區</button>
              <br>
              <button onclick="location.href='/exps/apply'" type="button" class="w-75 mx-auto btn btn-success btn-block">報名實驗</button>
              <br><br>
            </form>
          </div>
        </div>
        <div class="col-lg-2"></div>
      </div>
    </div>
  </body>
</html>
