<% include ./partials/base.ejs %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% include ./partials/navbar.ejs %>
    <div class="container">
      <br><br>

      <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
          <div class="card">
            <div class="card-header bg-dark text-white">
              管理者登入
            </div>
            <form action="/admin/login" method="post">
              <br>
              <% if (alert===403) {%>
                <div class="alert alert-danger col-lg-12" role="alert" style="margin:0 5%;width:90%">
                    管理者帳戶或密碼錯誤！
                </div>
              <%} %>
              <br>
              <div class="form-group row">
                  <div class="col-lg-1"></div>
                  <label for="username" class="col-lg-2 col-form-label">帳號</label>
                  <div class="col-lg-8">
                    <input type="text" class="form-control" name="username" placeholder="請輸入管理員帳號">
                  </div>
                  <div class="col-lg-1"></div>
              </div>

              <div class="form-group row">
                  <div class="col-lg-1"></div>
                  <label for="password" class="col-sm-2 col-form-label">密碼</label>
                  <div class="col-lg-8">
                    <input type="password" class="form-control" name="password" placeholder="請輸入密碼">
                  </div>
                  <div class="col-lg-1"></div>
              </div>
              <br>
              <button type="submit" class="w-75 mx-auto btn btn-success btn-block">登入</button>
              <br>
            </form>
          </div>
        </div>
        <div class="col-lg-2"></div>
      </div>
    </div>
    <% include ./partials/bootstrap-scripts.ejs %>
  </body>
</html>
