<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/base.ejs %>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% include ./partials/navbar.ejs %>
    <div class="container">
      <br><br>

      <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
          <div class="card">
            <form action="#" method="post">
              <br><br>
              <button onclick="location.href='/exps/local'" type="button" class="w-75 mx-auto btn btn-success btn-block">即時作答</button>
              <br>
              <button onclick="location.href='/exps/'" type="button" class="w-75 mx-auto btn btn-success btn-block">報名作答</button>
              <br><br>
            </form>
          </div>
        </div>
        <div class="col-lg-2"></div>
      </div>
    </div>
  </body>
</html>
