<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/base.ejs %>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% include ./partials/navbar.ejs %>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <% include ./partials/bootstrap-scripts.ejs %>
  </body>
</html>
