<nav class="navbar fixed-top navbar-dark bg-dark">
    <a class="navbar-brand" href="/">學術倫理</a>
    <% if (current_user!=undefined) {%>
      <a class="text-white nav-link" href="/admin/logout">登出</a>
    <%} else {%>
      <a class="text-white nav-link" href="/admin">管理區登入</a>
    <% } %>
</nav>
<br><br>
