<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/base.ejs %>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% include ../partials/navbar.ejs %>
    <div class="container">
      <br><br>

      <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
          <div class="card">
            <div class="card-header bg-dark text-white">
              下載測驗結果
            </div>
            <form action="admin/exps" method="post">
              <div class="form-group w-75 mx-auto">
                <br><br>
                <label for="exps">已完結之測驗</label>
                <select class="form-control" id="exps" name="exps">
                  <% for(i in exps) {%>
                    <option value="<%= exps[i]._id %>"> <%= exps[i]._id + " @ " + exps[i].started_at %></option>
                  <% } %>
                </select>
                <br>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="datatype" id="datatype1" value="xlsx" checked>
                  <label class="form-check-label" for="datatype1">
                    .xlsx檔
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="datatype" id="datatype2" value="csv">
                  <label class="form-check-label" for="datatype2">
                    .csv檔
                  </label>
                </div>
                <br>
                <button type="submit" class="btn btn-primary btn-block">下載</button>
                <br>
              </div>
            </form>
          </div>
        </div>
        <div class="col-lg-2"></div>
      </div>
    </div>
    <% include ../partials/bootstrap-scripts.ejs %>
  </body>
</html>
