<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/base.ejs %>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% include ../partials/navbar.ejs %>
    <div class="container">
      <br><br>

      <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
          <div class="card">
            <div class="card-header bg-dark text-white">
              管理者選單
            </div>
            <form action="admin/init_exp" method="post">
              <br><br>
              <button type="submit" class="w-75 mx-auto btn btn-success btn-block">安排新測驗</button>
              <br>
              <button type="button" class="w-75 mx-auto btn btn-success btn-block" onclick="location.href='/exps/'">開始現場測驗</button>
              <br>
              <button type="button" class="w-75 mx-auto btn btn-success btn-block" onclick="location.href='/admin/exps'">下載測驗結果</button>
              <br><br>
            </form>
          </div>
        </div>
        <div class="col-lg-2"></div>
      </div>
    </div>
    <% include ../partials/bootstrap-scripts.ejs %>
  </body>
</html>
